@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBlack.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Heavy.woff2") format("woff2");
  font-weight: 960;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0; /* حذف حاشیه پیش‌فرض */
  padding: 0; /* حذف فاصله داخلی پیش‌فرض */
  box-sizing: border-box; /* محاسبه اندازه شامل حاشیه و padding */
}
body {
  margin: 0;
  padding: 0;
  background: #5cc1d5; /* آبی پس‌زمینه */
  font-family: "IRANYekanX", sans-serif;
  overflow-x: hidden;
}
